# Python
.ipynb_checkpoints
.vscode
.Rhistory
.idea/
__pycache__/

# Ajout après le travail en local sur la génération word
*.csv
*.key
*.pkl
*.zip
temp_docx
reports_word/temp_transposition
# Fichier .py
Conversion.py

# Travail sur les dossiers word
# Dossier reports_word
reports_word/Generation_p2p/*
!reports_word/Generation_p2p
reports_word/reports_images/*
!reports_word/reports_images/.gitkeep
reports_word/transposed_reports/*
!reports_word/transposed_reports/.gitkeep
reports_word/*.docx
modified_reports/*
!modified_reports/.gitkeep

Fiche_Avant_Osmose/*.docx


# Les fichiers temporaires par Libreoffice
.~lock.*

# Les fichiers pdf
reports_pdf/*
!reports_pdf/.gitkeep

Fiche_Avant_Osmose_pdf/*.pdf

reports/*
!reports/.gitkeep

pp_dep.csv
france-relance-data-tableau-de-bord.txt
