---
version: 2.1
jobs:
    build-and-send:
        docker:
                - image: circleci/python:3.8
        steps:
            - run:
                  name: Récupération du projet propilot2pdf
                  command: |
                      mkdir -p /home/circleci/project
                      cd /home/circleci/project
                      git clone https://github.com/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME.git
                      cd /home/circleci/project/propilot2pdf
                      if [ "$CIRCLE_BRANCH" != "master" ]; then
                        git fetch origin pull/$CIRCLE_PR_NUMBER/head:pull_local
                        git checkout pull_local
                      fi
            - run:
                  name: Installation des requirements
                  command: |
                      cd /home/circleci/project/propilot2pdf
                      pip3 install -r requirements.txt
workflows:
  version: 2.1
  main:
    jobs:
      - build-and-send

  daily:
    jobs:
      - build-and-send
    triggers:
      - schedule:
          cron: 0 6 * * 2,3,4,5,6
          filters:
            branches:
              only:
                - master
